.contenedor-monstruo {
    border: 15px solid #ff0000;
    border-radius: 20px;
    padding: 50px; 
    background-color: white;
    display: inline-block;
}

.monstruo {
    display: block;
    width: 300px;
    height: auto;
}