.contenedor-monstruo {
    border: 15px solid #ffa500;
    padding: 20px; 
    background-color: white;
    display: inline-block;
}

.monstruo {
    display: block;
    width: 300px;
    height: auto;
}