body {
    max-width: 600px;
    margin: 40px auto;
    line-height: 1.6;
}

.title {
    font-size: 40px;
    font-weight: bold;
}

.title:hover{
    font-style: italic;
    color: blue;
}

h2 {
    font-size: 24px;
    font-weight: 300;
    color: #666;
}

.chapter {
    font-style: italic;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
}
.chapter:hover{
    font-weight: bold;
    color: red;
}

p {
    font-size: 18px;
}